<head>
    <title>Manage my data</title>
</head>
<html>
    <div class="container">
        <h1>Manage my data</h1>
        <button>Export my data</button>
        <button>Delete my data</button>
        <button></button>
    </div>
</html>