<head>
    <title>Epsilon User Managment</title>
</head>
<html>
    <div class="container">
        <h1>User Managment</h1>
        <button>Manage my data</button>
        <button>Change my info</button>
        <button>Delete my account</button>
    </div>
</html>